<h2> Here's the logged in home page </h2>

<p>
	Welcome, <%= @spotify_user.display_name %>!
  <%= @spotify_user.email %>
</p>

<h4>Your current discover weekly is: </h4>
<p>
	<% if @current_discover_weekly.present? %>
	  <%= @current_discover_weekly.name %>
	<% else %>
	  Make your discover weekly public!!!
	<% end %>
</p>
<div class="card-columns">
  <% @songs.each do |song| %>
    <div class="card text-white bg-dark mb-3">
      <%= image_tag(song.album.images.first["url"], size: "100x100", class: "card-img-top") %>
      <div class="card-body">
        <div class="card-text">
    	    <%= song.name %> - <%= song.artists.first.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>

